::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track-piece {
    background: #aaa;
}
::-webkit-scrollbar-thumb {
    background: #7a7a7a;
    border-radius: 2px;
}
::-webkit-scrollbar-corner       {
    background: #999;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #888;
}

body {
  margin: 20px 20px 0 20px;
  font-family: 'Open Sans', sans-serif !important;
  letter-spacing: 1.5px;
  background: #edece4;
  font-weight: lighter;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 300;
}
a {
  color: #262657;
  text-decoration: none;
}
a:hover {
  color: #333377;
  opacity: 0.9;
}
.pure-button {
  letter-spacing: 1px;
  position: relative;
  min-width: 100px;
}
.font {
  font-family: 'Open Sans', sans-serif !important;
}
.border {
  border: 1px solid #222;
}
.center {
  margin: 0 auto;  
}
.spinner {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
}
.editor-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 30px;
  font-weight: lighter;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  resize: none;
  border-radius: 2px;
}
.bounds {
  padding: 20px 0 0 0;
  position: relative;
  max-width: 1200px;
}
.editor-input-container {
  margin: 10px 20px 10px 0;
  height: 100%;
  overflow: auto;
}
.editor-title-container {
  margin: 10px 20px 10px 0;
  margin-left: 0;
  display: flex;
}
.editor-title {
  margin-right: 10px;
  width: 100%;
  padding: 10px;
  font-size: 30px;
  font-weight: 300;
  border: none;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 2px;
}
.rendered {
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 2px;
}

.modal {
  position: fixed;
  width: 400px;
  height: 150px;
  top: 50%;
  left: 50%;
  background: #fff;
  margin-left: -200px;
  margin-top: -75px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.modal-background {
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.pure-button-white {
  background: #eee;
}

.pure-button-blue {
  background: #3b5998;
}

.post-single {
  padding: 30px 10%;
  background: #fff;
  box-sizing: border-box;
  border-radius: 2px;
  -moz-box-sizing: border-box;
}

.author-large {
  font-size: 30px;
  font-weight: 300;
}

.post-list {
  background: #fff;
  padding: 20px 10%;
  box-sizing: border-box;
  border-radius: 2px;
  -moz-box-sizing: border-box;
}

.date {
  color: #bbb;
  font-size: 0.95em;
}

.post-snip {
  margin: 60px 0;
  position: relative;
  overflow: hidden;
  display: block;
}

.post-title {
  font-size: 28px;
  display: block;
  margin: 5px 0;
}

.no-hover:hover {
  color: inherit;
}
.snippet-cover {
  width: 100px;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.7), rgba(255,255,255,0.9),rgba(255,255,255,1));
  background: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.7), rgba(255,255,255,0.9),rgba(255,255,255,1));
  background: linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.7), rgba(255,255,255,0.9),rgba(255,255,255,1));
  position:absolute;
  right: 0px;
  top: 0;
  height: 100%;
}



.admin-buttons {
  float: right;
  margin: 20px;
}

.logout-link {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 20px;
  cursor: pointer;
  z-index: 99999;
}

.home-link {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px 20px;
  cursor: pointer;
  z-index: 99999;
}

.explore {
  background: #fff;
  border-radius: 2px;
  padding: 30px;
  margin: 10px 20px 10px 0;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box
}

.post-snip-text {
  max-height: 4em;
  display: block;
  overflow: hidden;
  color: #000;
}
