<div class='editor'>
  <div class='editor-title-container'>
    <input class='editor-title' ng-model='content.title'><button class='pure-button pure-button-primary'>
      Publish
    </button>
  </div>
  <div class='pure-g'>
    <div class='pure-u-1-2'>
      <div class='editor-input-container' z-page-height='200'>
        <textarea class='editor-input' autofocus ng-model='content.body'></textarea>
      </div>
    </div>
    <div class='pure-u-1-2' >
      <div ng-include='"/partials/viewer.html"' class='editor-input-container' z-page-height='200'></div>
    </div>
  </div>
</div>