<div class='center bounds'>
  <div ng-if='username === me.username' ng-show='!editing' class='admin-buttons'>
    <button class='pure-button pure-button-primary' ng-click='edit()'>Edit</button>
    <button class='pure-button pure-button-white' ng-click='delete()'>Delete</button>
  </div>
  <div ng-show='!editing' class='post-single'>
    <a href='/#/{{username}}' class='author'>{{username}}</a>
    <span class='date'>{{post.date.toLocaleDateString()}}</span>
    <div class='font'>
      <div z-viewer='post'></div>
    </div>
  </div>
  <div ng-show='editing' ng-include='"/partials/editor.html"'></div>
</div>
